html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.grid{
  width: 80%;
  height: 320px;
  display: block;
  margin: 3em auto;
 
}

.color{
  float: left;
  width: 300px;
  border: 1px solid white;
  margin: 2px;
  height: 300px;
 
  
    
}

.red{
  background-color: red;

}

.green{
  background-color: green;
}
.blue{
  background-color: blue;
}

button{
  width: 10%;
  text-transform: uppercase;
  margin: 
    60px;
}


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}