/*------------------------------------*\
  #GLOBAL STYLE SETTINGS
\*------------------------------------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    color: #333333;
    height: 100%;
    line-height: 22px;
    font-size: 22px;
}
/*------------------------------------*\
  #MAIN PAGE STYLE SETTINGS
\*------------------------------------*/

header {
    display: block;
    width: 100%;
    height: 100px;
}
.banner {
    display: block;
    width: 100%;
    height: 450px;
}
.banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mobile__slogan {
    display: none;
}
.slogan {
    width: 40%;
    text-align: right;
    position: absolute;
    color: #fff;
    top: 10%;
    font-size: 70px;
}
.mobile__search {
    display: none;
}
.actions {
    display: block;
    width: 95%;
    height: 200px;
    margin: 0 auto;
}
.action_pictures {
    width: 30%;
    display: inline-block;
    height: 180px;
    padding-top: 50px;
}
.search__icon {
    height: 160px;
    width: 22%;
}
.grid-3 {
    display: block;
    width: 32.5%;
    height: 100%;
    float: left;
    border: 1px solid black;
    margin-left: .6%;
    margin-top: 5px;
}
.grid-3 p {
    margin-top: 70px;
    width: 65%;
    display: inline-block;
    float: right;
}
.product__gallery {
    display: block;
    width: 95%;
    height: 1400px;
    margin: 10px auto;
}
h2 {
    margin: 50px auto;
    text-align: center;
    font-size: 60px;
}
.row {
    display: block;
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}
.grid-6 {
    display: block;
    width: 16.055%;
    height: 100%;
    float: left;
    bottom: 10px;
    margin-left: 0.5%;
}
.grid-6 img {
    width: 100%;
    height: 285px;
    object-fit: cover;
}
button {
    margin-top: -5px;
    width: 100%;
    height: 63px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    background-color: #FB0051;
}
.advertisement {
    display: block;
    position: relative;
    top: 20px;
    width: 100%;
    margin-bottom: 50px;
    height: 350px;
    padding: 1%;
}
.grid-4 {
    display: block;
    width: 16.361%;
    height: 100%;
    display: inline-block;
    margin-left: 0.5%;
}
.grid-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sale {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 750ms all ease-out;
    overflow: hidden;
}
.sale__banner {
    width: 100%;
    height: 50px;
    top: 70%;
    position: relative;
    background-color: #EE4C4D;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: 750ms all ease-out;
    text-align: center;
}
h6 {
    font-size: 36px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.grid-1 {
    top: -0px;
    width: 29%;
    height: 100%;
    display: inline-block;
    margin-left: 0.7%;
    background-color: #EE4C4D;
}
.grid-1 img {
    position: absolute;
    width: 52%;
    height: 50%;
    top: 32%;
    left: 35%;
    margin: 0 auto;
    object-fit: cover;
}
.discounted__trips {
    position: relative;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
.discounted__mobile {
    display: none;
}
.discounted__trips .top {
    position: absolute;
    width: 100%;
    font-size: 50px;
    color: #f1f1f1;
    left: 2%;
    top: 20px;
    text-align: center;
}
.discounted__trips .bottom {
    position: absolute;
    width: 100%;
    font-size: 40px;
    color: #f1f1f1;
    left: 3%;
    top: 270px;
    text-align: center;
}
.categories {
    display: block;
    width: 95%;
    height: 800px;
    margin: 30px auto;
    margin-bottom: 180px;
}
.tour {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.tour__description {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: 750ms all ease-out;
    text-align: center;
}
.tour__description p {
    text-align: center;
    width: 100%;
}
.sale:hover .sale__banner {
    opacity: 1;
    transition: 350ms all ease-in;
}
.tour:hover .tour__description {
    opacity: 1;
    transition: 350ms all ease-in;
}
.tour:hover img {
    transform: scale(1.5);
    transition: all 750ms ease-out;
}
.tours {
    width: 100%;
    height: 100%;
    transition: all 750ms ease-out;
    object-fit: cover;
}
.btn {
    display: inline-block;
    padding: 10px 16px;
    margin: 15px 10px 0 0;
    border-radius: 3px;
    border: 3px solid #FB0051;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
}
.cat__row {
    width: 100%;
    height: 400px;
    display: block;
}
.subscribe {
    display: block;
    width: 100%;
    height: 350px;
    background-color: #f3f3f3;
}
.container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.information {
    width: 65.6%;
    float: left;
    height: 100%;
    margin-left: 0.6%;
}
.grid-5 {
    margin-top: 25px;
    width: 19%;
    height: 250px;
    margin-left: 0.85%;
    float: left;
}
h4 {
    width: 60%;
    padding-bottom: 20px;
    font-size: 32px;
}
.grid-5 ul {} .grid-5 ul li {
    list-style: none;
    font-family: Century Gothic, Helvetica, Arial, sans-serif;
    padding-left: 15px;
    padding-bottom: 15px;
    color: #FB0051;
}
.sign__up {
    width: 32.5%;
    height: 100%;
    float: left;
    margin-left: 0.6%;
}
.news__letter {
    margin: 0 auto;
    display: block;
    width: 80%;
    height: 150px;
}
.news__letter button {
    font-size: 16px;
    margin-top: 25px;
}
input {
    width: 100%;
    height: 60px;
    font-size: 26px;
}
.input:focus {
    border: 1px solid red;
}
.message {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 200px;
}
h3 {
    margin: 20px 10px;
    ;
}
textarea {
    width: 100%;
    height: 100px;
}
footer {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #000;
}
/*------------------------------------*\
  #RESPONSIVE STYLE SETTINGS
\*------------------------------------*/

@media screen and (max-width: 1200px) {
    .slogan {
        font-size: 40px;
        top: 7%;
    }
    .grid-6 {
        display: inlie-block;
        width: 32.5%;
        height: 100%;
        margin-left: .6%;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .grid-3 {
        margin-top: 10px;
    }
    .product__gallery {
        height: 2670px;
    }
    .grid-4 {
        display: none;
    }
    .grid-1 {
        display: none;
    }
    .advertisement {
        margin-bottom: 70px;
        background-color: #f4a4a4;
    }
    .discounted__mobile {
        display: block;
        width: 100%;
        height: 100%;
    }
    .discounted__mobile img {
        position: absolute;
        width: 44%;
        height: 42%;
        top: 37%;
        left: 42%;
        margin: 0 auto;
        object-fit: cover;
    }
    .discounted__mobile {
        position: relative;
        width: 90%;
        height: 90%;
        margin: 0 auto;
    }
    .discounted__mobile img {
        left: 42%;
    }
    .discounted__mobile .top {
        position: absolute;
        width: 100%;
        font-size: 60px;
        color: #f1f1f1;
        left: 2%;
        top: 20px;
        text-align: center;
    }
    .discounted__mobile .bottom {
        position: absolute;
        width: 100%;
        font-size: 50px;
        color: #f1f1f1;
        left: 3%;
        top: 270px;
        text-align: center;
    }
    .information {
        display: none;
    }
    .sign__up {
        width: 95%;
    }
    .news__letter,
    .message {
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .actions {
        display: none;
    }
    .mobile__search {
        margin-top: 25px;
        display: block;
    }
    .discounted__mobile img {
        position: absolute;
        width: 44%;
        height: 42%;
        top: 37%;
        left: 38%;
        margin: 0 auto;
        object-fit: cover;
    }
    .mobile__search input {
        font-family: 'Titillium Web', sans-serif;
        background: url("http://www.iconsdb.com/icons/preview/deep-pink/search-2-xxl.png") no-repeat;
        color: #000;
        background-size: 45px;
        background-position: right;
        border: 1px solid black;
        padding: 5px;
        border-radius: 3px;
        margin: 0 5%;
        width: 90%;
    }
    .tour__description p {
        padding: 0;
        font-size: 12px;
    }
    .grid-6 {
        width: 50%;
        height: auto;
    }
}
@media screen and (max-width: 400px) {
    .banner {
        height: 200px;
    }
    .mobile__slogan {
        display: block;
        width: 40%;
        text-align: right;
        position: absolute;
        color: #fff;
        top: 2%;
    }
    .slogan {
        display: none;
    }
    h2 {
        margin-top: 50px;
        font-size: 40px;
    }
    .categories,
    .product__gallery {
        width: 95%;
    }
    .row {
        margin-bottom: 150px;
    }
    .advertisement {
        height: 220px;
        margin-bottom: 70px;
    }
    .discounted__mobile {
        display: block;
        width: 100%;
        height: 100%;
    }
    .discounted__mobile img {
        position: absolute;
        ;
        width: 68%;
        height: 66%;
        top: 5%;
        left: 33%;
        margin: 0 auto;
        object-fit: cover;
    }
    .discounted__mobile {
        position: relative;
        width: 90%;
        height: 90%;
        margin: 0 auto;
    }
    .discounted__mobile .top {
        display: none;
    }
    .discounted__mobile .bottom {
        position: absolute;
        width: 100%;
        font-size: 20px;
        color: #f1f1f1;
        left: 3%;
        top: 145px;
        text-align: center;
    }
    .grid-6 {
        display: inlie-block;
        width: 48%;
        height: 100%;
        margin-left: 1.3%;
        margin-bottom: 50px;
    }
    .tour__description {
        width: 100%;
        height: auto;
    }
    .grid-3 {
        width: 100%;
        margin-top: 10px;
    }
    .product__gallery {
        height: 3900px;
    }
    .categories {
        height: 2400px;
    }
    .tour__description p {
        padding: 0;
        font-size: 12px;
    }
    .information {
        width: 100%;
        height: 200px;
    }
    .sign__up {
        width: 100%;
        height: 200px;
    }
}