.container {
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 500px;
    padding: 20px;
}
.option-input {
    background-color: green;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    &:hover {
        background-color: red;
    }
    &:checked {
        background-color: black;
        &::before {
            content: '\2716';
            display: inline-block;
            font-size: 15px;
            text-align: center;
        }
        &::after {
            background-color: red;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }
    }
    &.radio {
        border-radius: 50%;
        &::after {
            border-radius: 50%;
        }
    }
}
h2 {
    color: #AAAAAA;
}
.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
input[type=radio]:checked ~ .check {
    border: 5px solid black;
}
input[type=radio]:checked ~ .check::before {
    background: #0DFF92;
}
input[type=radio]:checked ~ label {
    color: #0DFF92;
}
.signature {
    margin: 10px auto;
    padding: 10px 0;
    width: 100%;
}
.signature p {
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #AAAAAA;
}
.signature .much-heart {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.signature .much-heart::before,
.signature .much-heart::after {
    display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
}
.signature .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;
}
.signature a {
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
}
/* Styles for alert... 
by the way it is so weird when you look at your code a couple of years after you wrote it XD */

.alert {
    box-sizing: border-box;
    background-color: #0DFF92;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 300;
    padding: 20px 40px;
    color: #333;
}
.alert h2 {
    font-size: 22px;
    color: #232323;
    margin-top: 0;
}
.alert p {
    line-height: 1.6em;
    font-size: 18px;
}
.alert a {
    color: #232323;
    font-weight: bold;
}
.info p {
    text-align: center;
    color: #999;
    text-transform: none;
    font-weight: 600;
    font-size: 15px;
    margin-top: 2px
}
.info i {
    color: #F6AA93;
}
form h1 {
    font-size: 18px;
    background: black none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align: left
}
form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: gray;
    overflow: hidden;
}
p span {
    color: #F00;
}
p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color: #333;
}
h1 {
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin: 50px 0px 0px 0px
}
input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}
a {
    text-decoration: inherit
}
textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
}
.form-group {
    overflow: hidden;
    clear: both;
}
.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background: #eeeeee;
    height: 42px;
    position: relative;
    text-align: center;
    line-height: 40px;
}
i {
    color: #555;
}
.contentform {
    padding: 40px 30px;
}
.bouton-contact {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    border: 0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}
.leftcontact {
    width: 49.5%;
    float: left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}
.rightcontact {
    width: 49.5%;
    float: right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
}
.validation {
    display: none;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 13px;
    color: black;
}
#sendmessage {
    border: 1px solid #fff;
    display: none;
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}
#sendmessage.show,
.show {
    display: block;
}
.servive {
    margin-left: 0;
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    body {
        font: normal 16px/30px Arial, Helvetica, sans-serif
    }
    leftcontact,
    leftcontact .form-group,
    .leftcontact .c {
        display: block
    }
    .rightcontact .form-group {
        clear: both
    }
    .divform .c {
        width: 50%;
        float: left;
        padding-left: 10px;
        padding-right: 10px
    }
    .divform .c:nth-child(2n+3) {
        clear: left
    }
    label,
    .fheading,
    input[type="submit"] {
        margin-left: 0;
        text-indent: 0
    }
    input[type="submit"] {
        padding-left: 20px;
        padding-right: 20px
    }
    textarea,
    input[type="text"],
    select {
        width: 100%;
        margin: 0
    }
    input[type="radio"],
    input[type="checkbox"] {
        margin: 0 5px;
        padding: 0;
        vertical-align: middle
    }
    .ver2 .c {
        width: 35%
    }
    .ver2 .c:nth-child(2n+2) {
        width: 65%
    }
    .c.frwd {
        width: 100%;
    }
    .c.frwd textarea,
    .c.frwd input[type="text"],
    .c.frwd select {
        width: 100%
    }
    .ver2 .frwd.c:nth-child(2n+2) {
        width: 100%
    }
}
/* Smartphones (portrait and landscape) */

@media only screen and (max-width: 480px) {
    body {
        font: normal 16px/30px Arial, Helvetica, sans-serif
    }
    h1 {
        margin: 0 0 20px 0
    }
    label,
    .fheading,
    input[type="submit"] {
        margin: 0;
        text-indent: 0
    }
    .divform,
    .divform .r,
    .divform .c {
        display: block
    }
    .divform .r {
        clear: both
    }
    input[type="text"],
    select,
    textarea {
        width: 100%;
        margin: 0
    }
    input[type="radio"],
    input[type="checkbox"] {
        margin: 0 2%
    }
    input[type="submit"] {
        width: 100%;
        margin-top: 20px
    }
}
/* Only Safari */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
        text-indent: 5px;
        line-height: 24px
    }
}
@media (max-width: 700px) {
    .leftcontact {
        width: 100%;
    }
    .rightcontact {
        width: 100%;
    }
}