#about .wrapper {
    max-width: 80%;
    margin: auto;
    margin-right: 10%
}
@media (min-width: 768px) {
    #about .wrapper {
        margin-right: 24%;
    }
}
.col-x2 {
    height: 400px;
    display: inline-block;
    vertical-align: top;
    object-fit: cover;
}
.about__intro {
    border-left: 2px solid;
    padding-left: 2.2em;
    margin-bottom: 1em;
    max-width: 25em;
}
.col-x4 {
    width: 24.5%;
    margin: 0 auto;
    display: inline-block;
    object-fit: cover;
}
.col-x4 img {
    width: 100%;
    height: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
    .col-x2 {
        width: 100%;
    }
    .col-x4a {
        width: 100%;
    }
    .col-x4 {
        width: 50%;
        margin-top: 50px;
        margin-left: -40px;
        padding-left: 20px;
    }
}