html {
    box-sizing: border-box;
    background-color: #35383f;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: lucida grande, tahoma, arial, sans-serif;
}
.grid-x1 {
    width: 100%;
    height: 300px;
    position: relative;
    display: block;
    background-color: wheat;
    margin: 0 auto;
}
.grid-4 {
    width: 240px;
    display: inline-block;
    height: 240px;
    margin: 33px;
    border-radius: 100%;
}
.grid-4 img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    vertical-align: top;
    border-radius: 100%;
}
.grid-x3 {
    width: 32%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}
.grid-x3 img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    vertical-align: top;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 300px;
    transition: .5s ease;
}
.grid-x5:hover .overlay {
    width: 19.5%;
}
.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.grid-x5 {
    width: 19.5%;
    height: 300px;
    display: inline-block;
    border: 1px solid red;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    padding: 10px;
}
.center {
    text-align: center;
    font-size: 20px;
}
body p {
    font-size: 0.9em;
    line-height: 1.28;
    font-family: 'Graduate', cursive;
}
a {
    text-decoration: none;
    color: black;
}
#wrapper {
    max-width: 1200px;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 10px;
}
.col-x1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#banner {
    background-image: url("images/header1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    object-fit: contain;
    width: 100%;
}
#content_area {
    display: inline-block;
    background-color: #f0f0f0;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
    vertical-align: top;
}
.col-x4 img {
    height: 100%;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display: block;
}
ol {
    text-transform: uppercase;
    display: inline-block;
}
#navigation {
    border: 3px solid white;
    margin: 20px;
    background-color: white;
}
hr {
    color: black;
    background-color: red;
}
.profile-img {
    display: block;
    height: 10em;
    margin-right: auto;
    margin-left: auto;
    border: .5em solid #f2f2f2;
    border-radius: 100%;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}
.profile-text {
    padding: 5em 1.5em 1.5em 1.5em;
    background: #e9e9e7;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}
.profile-name {
    margin-right: -1em;
    margin-bottom: .75em;
    margin-left: -1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: .75em;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}
.profile-title {
    color: #ccc;
    text-align: center;
}
#nav {
    list-style: none;
}
nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav a {
    font-size: 20px;
    float: left;
    margin: 10px;
    width: 100px;
    height: 25px;
}
nav a:link,
nav a:active,
nav a:visted {
    display: block;
    color: black;
    text-decoration: none;
}
#nav a:hover {
    color: lightblue;
}
.imgLeft {
    float: left;
    width: 240px;
    height: 150px;
    padding: 20px;
}
.imgRight {
    float: right;
    width: 240px;
    height: 150px;
    padding: 0 0 10px 10px;
}
h3 {
    text-transform: uppercase;
    text-align: center;
}
.myButtons {
    color: black;
}
.myActiveButton {
    text-decoration: underline;
    color: #fd1a39;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 255.8) 10%, rgba(154, 117, 30, 0.8) 21%, rgba(175, 128, 34, 0.8) 26%, rgba(216, 149, 42, 0.8) 36%, rgba(165, 123, 32, 0.8) 77%, rgba(160, 120, 31, 1) 81%, rgba(155, 118, 30, 0.8) 85%, rgba(154, 117, 30, 0.84) 86%, rgba(154, 117, 30, 1) 90%, rgba(154, 117, 30, 0.8) 97%, rgba(154, 117, 30, 0) 100%);
}
i {
    display: block;
    width: 100%;
    margin-bottom: 4vh
}
.fa {
    display: inline-block;
    background: #037;
    color: #ddd;
    text-decoration: none;
    padding-top: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20%;
    box-sizing: border-box;
    margin-left: 15px;
    box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0) inset;
    transition: all 0.4s;
}
.fa:hover {
    color: #fff;
    box-shadow: 0 -50px 0 0 rgba(0, 0, 0, 0.5) inset
}
.fa:nth-of-type(2) {
    background: #08c
}
.fa:nth-of-type(3) {
    background: #d10
}
.fa:nth-of-type(4) {
    background: #eb0
}
.fa:nth-of-type(5) {
    background: #0c6
}
.col-x1 {
    width: 100%;
    position: relative;
    display: block;
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}
.col-x2 {
    width: 48.9%;
    height: 120px;
    display: inline-block;
    vertical-align: top;
}
header .col-x2 {
    width: 48.9%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.name {
    font-size: 50px;
    font-weight: bolder;
}
header .col-x2 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}
header .col-x1 {
    padding-top: 0;
}
.col-x2a {
    width: 48.9%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}
.col-x2a img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.col-x2 hr {
    width: 50%;
}
.social-icons {
    height: 70px;
    width: 50%;
    display: block;
    margin: 0 auto;
}
.social-icons li {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.social-icons li img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 0;
    padding: 5px;
}
.social-icons li img:hover {
    opacity: 0.8;
}
li {
    float: left;
    list-style: none;
}
.col-x2 p {
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
button {
    width: 100%;
    margin-left: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: -10px;
}
button:hover {
    background-color: red;
    cursor: pointer;
}
input {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 50%;
}
button {
    position: relative;
    width: 100%;
    top: 10px;
    background-color: #b68293;
    border-radius: 5px;
}
.font {
    font-size: 50px;
}
:hov .cls element.style {} .col-x4:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 80px;
    width: 23.6%;
    height: 300px;
    opacity: 0;
    border: 1px solid red;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.4);
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bad Script', cursive;
    top: 40%;
    left: 10%;
}
.hoverwords {
    width: 25%;
    display: block;
    height: 300px;
    display: none;
    border: 1px solid green;
    text-align: center;
    color: red;
    position: absolute;
    top: 50px;
    left: 0px;
}
p {
    color: black;
}
.profile {
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -10px;
    border-radius: 100px;
}
.about {
    position: relative;
    left: 40%;
}
.profile img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
}
.col-x4 {
    width: 24.8%;
    float: left;
    margin-top: 0;
    height: 250px;
    color: white;
}
.col-x4l {
    width: 25%;
    float: left;
    margin: 0 auto;
    height: 100px;
    border: 2px dotted black;
}
h1 {
    text-transform: uppercase;
    color: #482f8d;
    font-family: "open_sanssemibold", sans-serif;
    margin: 5px;
}
h2 {
    text-transform: uppercase;
    font-family: "open_sanssemibold", sans-serif;
    color: black;
}
fieldset {
    width: 80%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #e5e5e5;
    background-image: url('images/form+background.png');
    background-size: cover;
}
.align-fields {
    display: inline-block;
    width: 150px;
    text-align: left;
}
ol {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.color {
    background-color: #822d0d;
    opacity: 0.9;
    cursor: pointer;
}
h4 {
    margin-top: 30px;
    padding-left: 30px;
    color: black;
}
.container {
    margin: 4% auto;
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
}
#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 50s infinite linear;
}
#carousel:hover {
    animation-play-state: paused;
}
#carousel figure {
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}
#carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(288px);
}
#carousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(288px);
}
#carousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(288px);
}
#carousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(288px);
}
#carousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
}
#carousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
}
#carousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
}
#carousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
}
#carousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
}
#carousel figure img {
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
}
#carousel figure img:hover {
    -webkit-filter: grayscale(0);
    transform: scale(1.2, 1.2);
}
@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
#carousel img {
    width: 100%;
    height: 100%;
}
.col-x2 {
    overflow: hidden;
}
.contimg {
    height: 500px;
    overflow: hidden
}
[class^='col-'] img {
    width: 100%;
    height: auto;
    margin-top: 30px;
    object-fit: cover;
    overflow: hidden;
}
.slantedA {
    position: relative;
    color: #fff;
    z-index: 1;
}
.row {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
}
.slantedA:after {
    background: #f0f0f0;
    bottom: 0;
    content: '';
    display: block;
    top: 0;
    height: 250px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(4deg);
    transform-origin: top left;
    z-index: -1;
}
.slantedB {
    background: purple;
    position: relative;
    color: purple;
    z-index: 1;
}
.slantedB:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 280px;
    left: 0;
    top: 0;
    position: absolute;
    right: 0;
    transform: skewY(4deg);
    transform-origin: top left;
    z-index: -1;
}
.block-1 {
    width: 33%;
    position: relative;
    background-color: #f0f0f0;
    display: inline-block;
    height: 251px;
    z-index: 1;
}
.block-1:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 51%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(4deg);
    transform-origin: top left;
    z-index: -1;
}
.block-2 {
    width: 33%;
    position: relative;
    background-color: #f0f0f0;
    display: inline-block;
    height: 250px;
    z-index: 1;
}
.block-2:after {
    background: inherit;
    bottom: 0;
    top: 0;
    content: '';
    display: block;
    height: 280px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(4deg);
    transform-origin: top left;
    z-index: -1;
}
.block-3 {
    width: 33%;
    position: relative;
    background-color: #f0f0f0;
    display: inline-block;
    height: 250px;
    z-index: 1;
}
.block-3:after {
    background: inherit;
    bottom: 0;
    top: 0;
    content: '';
    display: block;
    height: 310px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(4deg);
    transform-origin: top left;
    z-index: -1;
}
#feedback-page {
    text-align: center;
}
#text-feedback {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    text-align: center;
}
#form-main {
    width: 100%;
    float: left;
    padding-top: 30px;
}
#form-div {
    background-color: #3c3c3c;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-left: -260px;
}
.feedback-input {
    opacity: 0.9;
    color: #0493bd;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    border: 3px solid #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}
.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}
/* Icons ---------------------------------- */

#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
#name:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
#email:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
}
#button-blue {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #0493bd;
}
.submit:hover {
    color: #3498db;
}
.ease {
    border-top: 3px #3c3c3c solid;
    width: 0px;
    height: 76px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}
.submit:hover .ease {
    width: 100%;
    background-color: white;
}
@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media screen and (max-width: 767px) {
    .col-x4,
    .col-x2 .col-x2a {
        width: 100%;
        margin-top: 0px;
        margin-left: 0;
    }
    [class^="block-"] {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .col-x4 {
        width: 45.9%;
        margin-left: 5px;
        padding-top: 20px;
        footer p {
            text-align: left;
        }
        button {
            width: 100%;
        }
        #content_area {
            width: 100%;
        }
        #content_area .col-x1 {
            width: 100%;
            position: relative;
            left: -80px;
            display: block;
        }
        li > a {
            width: 80%;
            text-align: center;
            height: auto;
            padding: .5em .35em;
            margin-left: 70px;
        }
        .social-icon__container {
            width: 100%;
            text-align: center;
            padding: .5em .35em;
        }
        h2 {
            text-align: center;
            margin-left: -30px;
        }
        .social-icons li img {
            display: inline-block;
        }
        .center {
            width: 80%;
            text-align: center;
            margin: 0 .55em .55em .95em;
        }
        .col-x1 {
            padding-top: 0;
            margin-left: 80px;
        }
        .overlay {
            display: none;
        }
        h3 {
            margin-left: 20px;
        }
        p {
            margin-left: 20px;
        }
    }
}
@media screen and (max-width: 600px) {
    .col-x4 {
        width: 50%;
        margin-top: 2px;
    }
    footer p {
        margin: -20px;
        text-align: left;
    }
    h2 {
        /*      margin-left: 40px;*/
    }
    .col-x1 {
        width: 100%;
        padding: 0;
        display: block;
        margin-left: 80px;
    }
    .col-x2 {
        margin-top: 0;
        height: auto;
    }
    footer .col-x1 {
        margin-top: 0;
        width: 100%;
    }
    #content_area {
        width: 100%;
    }
    footer .col-x2 {
        width: 100%;
        margin-top: 0px;
    }
    button {
        width: 100%;
    }
    .social-icon__container {
        width: 80%;
        text-align: center;
        padding: .5em .35em;
        margin: 0 .55em .55em .95em;
    }
    .social-icons li img {
        margin-left: -150px;
    }
    .social-icon__container ul {
        height: 200px;
    }
    h2 {
        margin-left: -150px;
    }
    .center {
        margin-left: -30px;
        border: red;
        text-align: left;
    }
    li > a {
        width: 80%;
        text-align: center;
        margin: 50px;
        padding: .5em .35em;
        margin: 0 .55em .55em .95em;
    }
    ul > li > img {
        width: 80%;
        text-align: center;
        margin: 50px;
        padding: .5em .35em;
        margin: 0 .55em .55em .95em;
    }
    .col-x2 hr {
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .overlay {
        display: none;
    }
    footer {
        height: auto;
        top: 5px;
    }
}
@media (max-width: 1034px) {
    .grid-4 {
        width: 50%;
    }
    .block-1,
    .block-2,
    .block-3:last-of-type,
    .grid-4:nth-child(even) {
        border-right: 0;
    }
    [class^="col"] {
        margin-top: 30px;
    }
    .slantedA {
        width: 100%;
    }
    [class^="block-"] {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
}
}
@media screen and (max-width: 480px) {
    [class^="block-"] {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    #banner {
        height: auto;
    }
    [class^='col-'] img {
        width: 100%;
        height: auto;
        margin-top: 0;
        object-fit: cover;
        overflow: hidden;
    }
    h2 {
        font-size: 14px;
    }
    footer {
        margin-top: 20px;
    }
    .block:last-of-type {
        border-bottom: 0;
    }
}
@media screen and (max-width: 1024px) {
    body {
        background-color: #f1e767;
        color: #000;
    }
}
@media screen and (max-width: 320px) {
    body {
        padding: 10px;
    }
}
@media screen and (max-width: 320px) {
    .col-x1,
    .col-x2 {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .block-1 {
        margin-top: 0;
    }
    .col-x2a {
        width: 100%;
    }
    #content_area {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    p {
        padding: 0;
        margin: 0;
    }
    .col-x4 {
        width: 100%;
    }
    .col-x2a {
        width: 100%;
    }
    .grid-x3 {
        width: 100%;
        margin-top: 50px;
    }
    .grid-x5 {
        width: 100%;
    }
}
h2 {
    margin: 0;
}
@media screen and (max-width: 320px) {
    .col-x1,
    .col-x2 {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .block-1 {
        margin-top: 0;
    }
    .col-x2a {
        width: 100%;
    }
    #content_area {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    p {
        padding: 0;
        margin: 0;
    }
    .col-x4 {
        width: 100%;
    }
    .col-x2a {
        width: 100%;
    }
    .grid-x3 {
        width: 100%;
        margin-top: 50px;
    }
    .grid-x5 {
        width: 100%;
    }
}
@media screen and (max-width: 770px) {
    .block-1,
    .block-2,
    .block-3 {
        width: 100%;
        margin: 0;
    }
    .col-x2a {
        width: 100%;
    }
}
@media screen and (max-width: 660px) {
    .block-1,
    .block-2,
    .block-3 {
        width: 100%;
        margin-bottom: -5px;
    }
    .col-x2a {
        width: 100%;
    }
}
@media screen and (max-width: 920px) {
    .block-1,
    .block-2 {
        width: 100%;
        margin-bottom: -5px;
    }
    .block-3 {
        width: 100%;
        margin-bottom: -5px;
    }
}
@media screen and (max-width: 500px) {
    .col-x4 {
        width: 50%;
        margin-top: 80px;
        .col-x2a {
            width: 100%;
        }
        .grid-x3 {
            width: 100%;
        }
        .grid-x5 {
            width: 100%;
        }
    }
}
@media screen and (max-width: 320px) {
    .col-x4 {
        width: 100%;
    }
    .col-x2a {
        width: 100%;
    }
    .grid-x3 {
        width: 100%;
        margin-top: 50px;
    }
    .grid-x5 {
        width: 100%;
    }
}