html {
    /*   background-color: #ebebeb; */
    
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
* {
    font-family: "Open Sans";
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
header {
    background-color: #95d7dd;
    width: 100%;
}
.header ul li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}
/* .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  background: linear-gradient(to left, white , white); 
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none; 
  margin : 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}
.col-x2{
  padding-top: 20px;
  width: 50%;
  float: left;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;

}
.menu-button-container {
  display:none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-toggle {
  display: none;
}

.menu-button, .menu-button::before, .menu-button::after {
  display: block;
  background-color:black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

.menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0); 
}

.menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top:0px;
  transform: rotate(-405deg);
}
 */

.container {
    width: 80%;
    display: block;
    position: relative;
    top: 20px;
    margin: 0 auto;
}
img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    vertical-align: top;
}
.last {
    width: 100%;
    display: inline-block;
    position: relative;
    top: 60px;
    background-color: gray;
}
.last p {
    column-count: 2;
    column-gap: 2em;
    text-align: center;
    padding: 7px;
}
.head {
    width: 100%;
    display: block;
    background-color: gray;
}
.head p {
    font-family: 'Trade Winds', cursive;
    padding: 20px;
    color: #FFF;
    border-bottom: 8px solid #95d7dd;
    font-size: 24px;
    font-weight: 400;
    /*     padding: 5px 10px; */
    
    margin-bottom: 20px;
}
.bod {
    border-right: 1px solid #000;
}
.heading-picture {
    width: 100%;
}
.head__description {
    width: 100%;
    display: block;
    background-color: #f7f7f7;
    position: relative;
    top: 20px;
}
.head__description h1 {
    font-size: 30px;
    font-family: Antic, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-shadow: 0 0 12px rgb(23, 23, 23);
    padding: 0;
    margin: 0;
    color: #FFFFFF !important;
    white-space: nowrap;
}
.col-x1 {
    position: relative;
    top: 30px;
    width: 100%;
    display: block;
    /*   height: 300px; */
    /*     background-color: black; */
}
.col-x3 {
    width: 33.33%;
    float: left;
    padding-left: 5px;
}
.col-x3 img {
    transition: all 300ms ease-out;
    transition: 250ms all ease-out;
}
.social-icons li:hover {
    color: #fff;
    cursor: pointer;
}
.col-x3:hover img {
    transform: scale(1.1);
    transform-origin: left bottom;
    transition: 250ms all ease-out;
}
@media screen and (max-width: 500px) {
    .col-x3 {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .col-x3 {
        width: 100%;
    }
}
@media (max-width: 320px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
/*     testing */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #95d7dd;
    background: linear-gradient(to left, #95d7dd, white);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: black;
    height: 50px;
    padding: 1em;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu > li {
    margin: 0 1rem;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}
footer {
    clear: both;
    font-size: 14px;
    padding: 2em;
}
/** Layout **/

.item {
    position: relative;
    padding: 0;
    border: 10px solid #fff;
    background-color: #f2f2df;
}
.img {
    width: 100%;
    height: auto;
    /* Using a square img in this case  */
}
.item:hover > .img {
    transform: scale(0);
}
/** Hover Effect **/
/* Links Container */

.share-links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(145, 138, 111, .3);
    color: #fff;
    font-size: 1.1em;
}
/* Share Buttons */

.share-links > a {
    display: inline-block;
}
/* Icons */

.share-links > a > i {
    position: relative;
    padding: 8px 10px;
}
.share-links > a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1em;
    height: 0px;
    margin: auto;
    background-color: #fff;
}
/* Icons - initial positions */

.share-links > a:first-child {
    transform: translateX(-40px) translateY(-80px);
}
.share-links > a:last-child {
    transform: translateX(40px) translateY(-80px);
}
.share-links > a:nth-child(2) {
    transform: translateX(-80px) translateY(80px);
}
.share-links > a:nth-child(3) {
    transform: translateX(80px) translateY(80px);
}
/* Diamond Shape */

.share-links::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    margin: auto;
    border: 2px solid #fff;
    transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(.4);
}
/* Animations */

.img,
.share-links,
.share-links > a,
.share-links::before {
    transition: all 100ms ease-out;
}
.share-links > a > i,
.share-links > a::after {
    transition: all 200ms ease-out;
}
.item:hover > .share-links {
    visibility: visible;
    opacity: 1;
}
.item:hover > .share-links > a:nth-child(n) {
    transform: translateX(0px) translateY(0px);
}
.item:hover > .share-links::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1);
}
.share-links > a:hover::after {
    height: 18px;
}
.share-links > a:hover > i {
    transform: translateY(-15px);
}