.otherActive~._28r-{pointer-events:auto}
._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.sp_gTlIMMtbro4{background-image:url(/rsrc.php/v3/yG/r/2EVuIJokMr8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4.sx_035332{width:12px;background-position:0 -15px}.sp_gTlIMMtbro4.sx_de50d2{background-position:0 0}

#bootloader_4IdJY{height:42px;}.bootloader_4IdJY{display:block!important;}