._5tqm{margin:30px auto}._5tqn{margin:15px auto}._5tto{margin:12px 0 8px}._o9d{margin:10px auto}
.sp_ubiEO-1Hl53{background-image:url(/rsrc.php/v3/ys/r/3auXv74uA25.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_ubiEO-1Hl53.sx_35d0db{background-position:0 0}.sp_ubiEO-1Hl53.sx_2ad859{background-position:0 -21px}

#bootloader_ujRD3{height:42px;}.bootloader_ujRD3{display:block!important;}