._4ofd{background-color:#fff}._4ofe{padding-bottom:24px;padding-left:24px;padding-right:24px}._4off{padding:10px}._4e4j ._55pe,._d8m ._55pe{text-align:left;width:144px}
._2gwr{height:34px;padding-bottom:10px;padding-top:10px}
._46sj{align-items:center;display:flex;flex-direction:row;justify-content:space-between}._46sk{line-height:36px}._60b9{box-sizing:border-box;width:100%}
._3jxo{font-size:12px}._3jxm{align-items:center;display:flex;flex-direction:row;justify-content:space-between}._3jxn{line-height:36px}
._59s7 ._1x39{background-color:#e9ebee}._1x3b{line-height:36px}._1x36{margin-top:6px}._60am{color:#fa3e3e;text-align:left}._1x3a{display:flex}._1x37{flex:1}
._1gn7{display:inline-block}._1gn5{display:inline-block}
._2jtb{align-items:baseline;display:flex;flex-direction:row;justify-content:space-between}._2jta{display:flex;flex-direction:row;flex-wrap:wrap}._2jtc{width:70%}._2jt9{align-items:center;background:#e9ebee;border:1px solid #9cb4d8;border-radius:2px;color:#162643;display:flex;flex-direction:row;flex-wrap:wrap;font-size:12px;justify-content:space-between;padding:0 3px;position:relative;word-break:break-all}
._1qww{visibility:hidden;width:100%}._4k-t{line-height:36px}._4k-v{width:100%}._4k-u{box-sizing:border-box;width:100%}
._2yrr{align-items:center;display:flex}
._2hzi label{width:100%}._2hzi._4ehg{width:100%}
._d8w{width:360px}._d8x{background-color:#fff;border:0;border-radius:2px;box-shadow:0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);overflow:hidden;width:360px}
._1gpl{align-items:stretch;border:1px solid #dddfe2;display:flex;flex:1;height:48px;position:relative}._1gpl .img{margin-right:12px}._1gpz{background-color:rgba(0, 0, 0, .5);border-radius:5px;height:100%;left:-5px;padding:5px;position:absolute;top:-5px;width:100%;z-index:1}._1gp-.img{display:block;margin:auto;margin-top:8px}._1gpl a{color:#4b4f56}._1gpj{background:none;border:0;box-shadow:none;color:#4b4f56;display:block;font-weight:normal;line-height:48px;padding:0;width:100%}html ._1gpj:focus{box-shadow:none}._1gpm div,._1gpm a._1gpj{outline:none}._1gpj.jobsComposerPhotoSelector:hover{color:#1d2129}._1gpm>div{width:50%}._1gpm{box-sizing:border-box}._1gpu{position:relative;width:100%}._1gpm ._ohe>div,._1gpm ._ohf>div{display:block;margin:0 auto}
._zkt{padding:10px}._zku{margin:42px 60px 30px 60px;padding:10px}._1rfr{padding:12px 12px 0}._zkv{margin:10px 0}._zkt ._zkv{width:470px}._zku ._zkv{width:350px}._zkt ._1rft{width:472px}._zku ._1rft{width:352px}._3kc0{background-color:#dddfe2}._3kc1{margin:7px 0}._1rft ._1rfx{margin:0}._3kce{line-height:24px}._3kcr{display:inline-table;line-height:24px;text-transform:uppercase}._2qmh{border-top:1px solid #e9ebee;margin-top:10px}._1lp9{display:block;position:relative;width:100%}._1lp9>div{position:relative}._1lp9 ul{display:flex;position:absolute;width:100%}._1lpb{flex:1 1 auto;text-align:center}._1lpc{background:#4d68a4;bottom:0;height:4px;left:0;margin-bottom:1px;position:absolute;transition:.5s;width:50%}._60ba{background:#4d68a4;bottom:0;height:4px;left:50%;margin-bottom:1px;position:absolute;transition:.5s;width:50%}
._2rcd{color:#7f7f7f;display:inline-block}._40xl{font-size:12px}._2rcd ._jqb{display:block}._jqa{display:block;font-weight:bold;margin-right:20px;padding:4px 4px 4px 0;text-align:center}._1rn7{display:block}._1rn7 span{font-size:12px;font-weight:bold;line-height:14px}._2rce{color:#4080ff}._3ke0{background-image:linear-gradient(rgba(0, 0, 0, .07) 0%, transparent 100%);border-top:1px solid #d3d3d3}._1wcr{display:inline-block;height:12px;margin-right:4px;width:12px}._2rcd i{margin:0 6px -3px 0}
.sp_TkOzzlI2Z27{background-image:url(/rsrc.php/v3/yz/r/cc3VO0mzWhU.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_TkOzzlI2Z27.sx_a14478{width:20px;height:20px;background-position:0 0}.sp_TkOzzlI2Z27.sx_f5f239{background-position:0 -42px}.sp_TkOzzlI2Z27.sx_624d62{background-position:0 -59px}.sp_TkOzzlI2Z27.sx_7da8c1{width:20px;height:20px;background-position:0 -21px}.sp_TkOzzlI2Z27.sx_529cd1{background-position:0 -76px}

#bootloader_1AfPJ{height:42px;}.bootloader_1AfPJ{display:block!important;}